.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 8px;
}

.title {
  padding-top: 1rem;
  text-align: center;
}

.myphoto {
  width: 100%;
  height: 100%;
}

.icon {
  width: 2rem;
  height: 2rem;
}

.navlink {
  display: inline-block;
  padding: 1rem 1rem 1rem 0.5rem;
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
}

.sitesection {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  background-size: cover;
  padding: 8px 12px;
}

.social {
  padding: 1rem 8px;
  color: black;
  background-color: white;
}

.experience {
  background-image: url("/backgroundimages/coder-image.png");
}

.contactme {
  background-image: url("/backgroundimages/codes-image.png");
  background-size: contain;
  background-position: 5in;
}

